.katalog {
    font-family: Montserrat;
}

.avtor {
    font-family: Montserrat;
  
}

.orig {
    font-family: Montserrat;
  
}

.look {
    font-family: Montserrat;
  
}

.cool{
    font-family: Montserrat;
  
}